{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Nasa Company of our Future !! </h1>
       <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis distinctio porro velit repellat molestias quo, odit quam in sint laudantium ea explicabo quod nam beatae animi quibusdam neque corporis voluptatem?
       </p>
    </div>
       
    <div class="col-4">
       <img src="assets/img/Nasa.png" alt="Imagen demostrativa" class="img-thumbnail">
   </div>
</div>
{{> footer}}